<h1>List of ideas: </h1>

<br>
<br>

<div class="pull-right">
  <%= link_to "New Idea", new_idea_path %>
</div>
<hr>

  <% @ideas.each do |idea| %>
    <strong><%= link_to "#{idea.title}", idea_path(idea) %></strong>
    <p> <%= idea.body %> </p>
    <strong>By: <%= idea.user.try(:full_name) %> </strong>
    <hr>
    <% end %>
