<h1> Welcome to Idea Factory </h1>

<h3>Welcome#index</h3>
<p>Find me in app/views/welcome/index.html.erb</p>



<!-- <%= link_to 'All Ideas', ideas_path %>
<%= link_to 'Submit New Idea', new_idea_path %> -->
